<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	{% if title %}
	<title>Shawel | {{ title }}</title>
	{% else %}
	<title>Shawel</title>
	{% endif %}
	<link rel="icon" href="{{ url_for('static', filename='imgs/logo.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://ezdomain.ru/css/fonts.css">
</head>
<body>
	<center>
	<ul class="nav1">
		<li><a href="{{ url_for('index') }}">Расписание уроков</a></li>
		<li><a href="{{ url_for('zvonki') }}">Расписание звонков</a></li>
	</ul><br>
	<ul class="nav">
		<li><a href="https://vk.com/shawelbot" target="_blank">ВКонтакте</a></li>
		<li><a href="https://engschool9.ru/content/raspisanie.html" target="_blank">Источник</a></li>
	</ul>
	</center>
	{% block content %}{% endblock %}
	<hr>
	<em style="margin-left: 10px; padding-bottom: 30px;">© 2020-<span id="currentYear">2077</span> ShawelBot</em>
	
<script src="{{ url_for('static', filename='js/slider.js') }}" type="text/javascript"></script>

<!-- VK Widget -->
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", **ID**, {expanded: "0",disableExpandChatSound: "1",disableNewMessagesSound: "1",disableButtonTooltip: "1"});
</script>
<!-- //VK Widget -->
</body>
</html>
